/* Our default values set as CSS variables */
:root,
html[data-theme="light"] {
  --color-bg: #f9faff;
  --color-text-primary: #828282;
  --color-text-secondary: #333333;
  --color-text-tertiary: #ffffff;
  --color-primary: #928df1;
  --color-secondary: #fdc435;
}
html[data-theme="dark"] {
  --color-bg: #333333;
  --color-text-primary: #f9faffe0;
  --color-text-secondary: #e4e5eb;
  --color-text-tertiary: #333333;
  --color-primary: #928df1;
  --color-secondary: #fdc435;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
  display: inline; /* list elements in the same line */
  padding: 0 20px;
}

ul li a {
  color: var(--color-text-tertiary);
}

ul li a:hover {
  color: var(--color-text-tertiary);
}

ul {
  padding: 0;
}

section {
  margin-bottom: 200px;
}

span {
  color: var(--color-primary);
  font-size: 25px;
  font-weight: 500;
}

a:hover {
  text-decoration: none; /* remove underline from link */
}

body {
  font-family: "Poppins";
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--color-text-secondary);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

.heading {
  position: relative;
  font-size: 48px;
  font-weight: 700px;
  padding-bottom: 5px;
  margin-bottom: 58px;
  text-align: center;
}

.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100px;
  border: 2px solid var(--color-secondary);
  transform: translateX(-50%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.footer {
  background-image: url("assets/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 350px;
  margin: 0 !important;
}

.social {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 15px;
  transition: 0.3s ease 0s;
}

.social:hover {
  filter: drop-shadow(0px 11px 3px cornsilk);
  /*box-shadow: 0px 11px 3px cornsilk;*/
  transform: translateY(-7px);
}

.instagram {
  background-image: url("assets/social/instagram.png");
}

.github {
  background-image: url("assets/social/github.png");
}

.header-content {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between; /* the elements go to the extremities */
  align-items: center;
  padding: 5px 80px;
  margin-bottom: 100px;
}

.header-links {
  margin: 0; /* it came with margin different on top and on the bottom -> couldn't center in .header-content */
}

.intro {
  display: flex;
  align-items: center;
}

.intro img {
  width: 100%; /* for the image not to go outside the body*/
  margin: 40px 0;
}

.about-img img {
  width: 100%;
  border-radius: 50%; /* shape of a circle */
  border: 5px solid var(--color-primary);
  margin-bottom: 30px;
}

.project-card {
  background-color: var(--color-bg);
  border-radius: 20px;
  overflow: hidden; /* for .project-card-image img to show the project-card borders */
  margin: 10px 0;
  box-shadow: 0 6px 40px rgba(112, 144, 176, 0.1);
}

.project-card-image {
  overflow: hidden; /* in case the .project-card-image img is larger */
  height: 210px;
  position: relative;
  border-bottom: 5px solid var(--color-secondary);
}

.project-card-image img {
  min-width: 100%; /* for the image to fill all space */
  min-height: 100%; /* for the image to fill all space */
  object-fit: cover; /* maintain the image ratio */
  /* center image */
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.project-card-content {
  padding: 35px 20px;
}

.project-card-text {
  margin: 20px 0;
  min-height: 120px; /* in case the content doesn't reach 5 lines, the space (element content height) remains the same*/
  /* show max of 5 lines: https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.button {
  border-radius: 7px;
  padding: 7px 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.button-secondary,
.button-secondary-rounded {
  background-color: var(--color-text-tertiary);
  border: 1px solid var(--color-primary);
  color: var(--color-primary) !important;
  /* important - For some reason the button-secondary-rounded didn't change color */
}

.button-secondary {
  margin-left: 10px; /*Linkedin button apart from the github button*/
}

.button-secondary-rounded {
  border-radius: 20px;
  display: block; /* there was a margin overlap bothering me */
  width: fit-content; /* the display: block made the width 100% */
}

.button-secondary:hover,
.button-secondary-rounded:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-text-tertiary) !important;
}

.button-primary {
  border: none; /* submit button had borders */
  background-color: var(--color-secondary);
  color: #000000;
}

.button-primary:hover {
  /*to know when you're hovering a button */
  cursor: pointer;
  filter: brightness(98%);
  color: #000000;
}
